<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Roblox for Noobs</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="https://img.icons8.com/color/48/000000/roblox.png"/>
</head>
<body style = "background-color: rgb(61,59,59);">
<div class="container" >  
  <div class="row">

      <nav class="nav navbar-custom"      >
        <a class="navbar-brand" href="index.html">Home</a>
        <a class="navbar-brand" href="index.html">About the Project</a>
        <a class="navbar-brand" href="index.html">Meet the Team</a>
       
      </nav>
    </div>  
    <div class = "row">
      <div class="text-center">
       <img class="rounded mx-auto d-block" src="../static/Images/logo.jpg"  alt="Roblox LOGO">
      </div>
    </div>
    <div class ="row">
    
      <!-- <div class="jumbotron container fluid" >
        <h1 style="color: rgb(133, 8, 8);">Let's learn Roblox games today</h1>
   
        

        <div class="dropdown">
        <h4>Step 1: Choose your favorite category            
       
          
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropright
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
          
        </h4>
        </di  v>
       
        <h4>Step 2: Choose the game property to get a view of your choice</h4>
        <h4>Step 3: Click the game you want to learn</h4>
        <h4>Step 4: Check out the Top 5 videos based on your criteria</h4>
        <h4>Step 5: Select the video you like and learn your favorite game !</h4>
      </div>
      </div>
    </div> -->
    <div class="row">
      <picture id ="picid" >
        <div class="row" style="background-color: whitesmoke;border: rgb(113, 141, 138); border-style: solid; border-width: thick;">
        <h1> Welcome to Roblox for Noobs </h1>
      </div>
      </picture>
    </div>

  
  <div class="row" style="padding: 10pt;"></div>
  <div class="row" >
    <div class="col-md-10">
    <img src="../static/Images/Sankey.jpg" style="margin-left: 2px; text-align: left;">
  </div>
  
 
  <div class="col-md-2" style="padding-top: 150px;">

    <a href="Home.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Let's get started !</a>

</div>
    </div>  
    <div class="row" style="padding: 10pt;"></div>
    <div class = "row" style="border: rgb(113, 141, 138); border-style: solid; border-width: thick; padding: 5px; background-color:whitesmoke;" >
      <h1> <p style="text-align:center">Welcome to our page.</p><br> Here you will select your game category of choice, then select a video for how to play your game and off you go on your journey into the Roblox World. <br> Enjoy!</h1>
    </div>

  </div>
  <!-- <div class="row" style="padding: 10pt;"></div> -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/umd/util.js"></script>
 
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  < -->
  <script src="./static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="samples.json"></script> -->
  
</body>

</html>
